$colorvar: red;
$backcolor:black;
$mycolor:blue;

h1{
    font:{
        size: 72px;
        family: arial;
    }
    $mycolor:green;
    color: $mycolor;
}

h2{
    color: $colorvar;
}
h3{
    color: $backcolor;
}